* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-headfoot: rgb(81, 105, 167);
    --color-primary: rgb(209, 190, 173);
    --color-secondary: rgb(208, 157, 114);
    --color-hover: rgb(213, 96, 9);
    --color-button: rgb(86, 23, 137);
    --color-border: rgb(131, 128, 123);
    --color-font: rgb(28, 34, 40);
}
body > header {
    padding-inline: 1em;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
}

h1 {
    font-weight: bolder;
    font-size: 2em;
    font-family: Arial black;
}

h5 {
    font-weight: lighter;
    font-size: 2em;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav :nth-child(2n) {
    margin-inline: 1em;
    font-weight: bold;
}

nav a {
    font-size: 1.3em;
}

body > header,
footer {
    background-color: var(--color-headfoot);
}

main {
    background-color: var(--color-primary);
    height: 70vh;
}

main header {
    padding-inline: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    background-color: var(--color-secondary);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

li:first-child label,
li:last-child label {
    text-decoration: line-through;
}

li:hover {
    cursor: pointer;
    color: var(--color-hover);
}

input {
    margin-left: 1em;
    margin-right: 1em;
}

section {
    height: 30%;
    font-size: 1.3em;
    padding-top: 2em;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px var(--color-button);
}

main > div {
    margin-top: 1em;
    font-size: 2em;
    padding-right: 0.6em;
    text-align: end;
}

li div::after {
    margin-left: 1em;
    margin-right: 1em;
    content: '✖';
    font-weight: bolder;
    font-size: 1.1em;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

footer img {
    height: 3em;
}

a img {
    height: 2.4em;
}
