* {
    box-sizing: border-box;
    margin: 0;
    color: var(--color-font);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

:root {
    --color-headfoot: rgb(81, 105, 167);
    --color-primary: rgb(209, 190, 173);
    --color-secondary: rgb(208, 157, 114);
    --color-button: rgb(86, 23, 137);
    --color-border: rgb(131, 128, 123);
    --color-font: rgb(28, 34, 40);
    --color-assetButton-background: rgb(78, 107, 164);
}

body > header {
    padding-inline: 1em;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
}

h1 {
    font-weight: bolder;
    font-size: 2em;
    font-family: Arial black;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

h5 {
    font-weight: lighter;
    font-size: 2em;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav :nth-child(2n) {
    margin-inline: 1em;
    font-weight: bold;
}

nav a {
    font-size: 1.3em;
}

body > header,
footer {
    background-color: var(--color-headfoot);
}

section {
    background-color: var(--color-primary);
    height: 70vh;
}

section header {
    padding-inline: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    background-color: var(--color-secondary);
}

div {
    padding-inline: 1em;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label {
    font-size: 1.4em;
    padding-top: 1em;
    padding-bottom: 1.5em;
    width: 70vw;
    border-bottom: solid 1px;
    border-color: var(--color-button);
}

input {
    border: none;
    background-color: var(--color-assetButton-background);
    height: 2.2em;
    width: 5em;
    margin-top: 2em;
}

[value] {
    font-size: 1.5em;
    color: aliceblue;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

footer img {
    height: 3em;
}

a img {
    height: 3.4em;
}
